.arrival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.results {
  display: flex;
  width: 50vw;
  justify-content: space-between;
  text-align: left;
  align-content: center;
  border: 8px solid #8a2332;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 8px #306095;
}

h3 {
  color: #313639;
}

.rail {
  width: 300px;
  margin-top: 10px;
}
